.group-overview{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px #233565;
    border-radius: 10px;
    justify-content: space-around;
    cursor: pointer;
    width: 100%;
    margin-top: 3vh;
    
}

.group-viewImg{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 10px;
}

.group-info{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    
}
.group-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.centr-info{
    display: flex;
    align-items: center;
}


@media (min-width: 1024px) {

    .group-overview{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 2px #233565;
        border-radius: 10px;
        justify-content: space-around;
        cursor: pointer;
        width: 100%;
        margin-top: 3vh;
        
    }


}