.expenses{
    background-color:white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.expensesGroupCard{
    width: 80%;
}