.expenseCard-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    padding: 1rem;
    margin-top: 1em;
}

.expenseItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trash-bin-image {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
.glassIcon-image{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.content-visible {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}

.content-not-visible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.3s;
}

.expense-picture{
    width: 100px;
    height: 100px;
}

.expenseCardImg{
    display: flex;
    flex-direction: column;
}

.column-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgInDetails{
    display: flex;
    justify-content: space-around;
}
