.overview{
    padding: 15px 30px 30px 30px ;
    border-radius: 20px;
    width: 80%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overTitle{
color: #233565;
}

.lineOverview{
    height: 3px;
    width: 80vw;
    background-color: #233565;
    border-radius: 30%;
}